@font-face {
    font-family: 'RetroComputer';
    src: url(assets/fonts/retro_computer_personal_use.ttf);
}
@font-face {
    font-family: 'fonteSecundaria';
    src: url(assets/fonts/PlayMeGames-Demo.otf);
}

